#main-content {
    margin-top: 150px;
    margin-left: 150px;
}

#main-content .form-control {
    margin-bottom: 20px;
    width: 100px;
}

.col-md-3 {
    display: inline-block;
}

img {
    margin: 50px;
}