<!DOCTYPE html>
<html lang="en">

<head>
    <title>Low Dash</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../dist/assets/css/style.min.css" rel="stylesheet">
    <link href="../dist/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="../dist/assets/css/css/font-awesome.min.css" rel="stylesheet">
</head>

<body ng-app="app" ng-controller="mainController as vm">
    <div class="container">
        <nav class="navbar  navbar-fixed-top" id="sidebar" role="navigation">
            <ul class="nav sidebar-nav">
                <li class="sidebar-brand">
                    <h4>Method</h4>
                </li>
                <li ng-repeat="(methodName, method) in vm.lodashMethods">
                    <a ng-click="vm.changeLodashMethod(method)">{{methodName}}</a>
                </li>

            </ul>
        </nav>
        <div id="main-content" class="container">
            <div class="row">
                <textarea ng-model="vm.selectedLodashDescription"></textarea>
            </div>

            <div class="row">
                <div class="col-md-2">

                    <input ng-repeat="input in vm.inputs track by $index" class="form-control collection-input" ng-model="input.value" type="text">
                    <button class="btn btn-primary" id="increment-button" ng-click="vm.incrementInputs()">+</button>

                </div>
                <div class="col-md-3">
                    <textarea class="form-control" id="iteratee-text" ng-model="vm.iterateeString"></textarea>
                </div>

                <div class="col-md-3">

                    <img src="../dist/assets/images/right-arrow.png" width="150" height="150" ng-click="vm.calculateResults()">

                </div>
                <div class="col-md-3">
                    <textarea readonly ng-model="vm.resultString" class="form-control" id="result-text"></textarea>
                </div>
            </div>
        </div>
    </div>
    <script src="../node_modules/jquery/dist/jquery.min.js"></script>
    <script src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../dist/bundle.js"></script>

</body>

</html>